{#include base}
{#title}Una Familia - User{/title}
{#navbar}
<div class="navbar-nav px-2">
    Welcome, {data.name}!
</div>
{/navbar}
{#content}
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed top-0 bottom-0 pt-5">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-dark active" href="/user">
                        <i class="bi bi-house"></i> Home
                      </a> 
                </li>
                {#if data.isAdmin}
                <li class="nav-item">
                    <a class="nav-link text-dark" id="href-report" href="#">
                        <i class="bi bi-heart-pulse-fill"></i> Report
                      </a> 
                </li>
                {/if}
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Profile</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link text-dark" href="/logout">
                  <i class="bi bi-power"></i> Logout
                </a>
              </li>
            </ul>
        </div>
    </nav>

    <div id="data-container" class="col-md-9 ms-sm-auto col-lg-10 px-md-4"></div>
</div>

<script>
    $( "#href-report" ).click(function( event ) {
      event.preventDefault();
      $.ajax({
        url: "/v2/report",
        success: function(html){
          $("#data-container").html(html);
        }
      })
    });
  </script>
{/content}
{/include}
