{#include base}
{#title}Una Familia - User{/title}
{#navbar}
<div class="navbar-nav px-2 mx-2">
    Welcome, {data.name}!
</div>
{/navbar}
{#content}
<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed top-0 bottom-0 pt-5">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-dark active" href="/user">
                        <i class="bi bi-house"></i> Home
                      </a> 
                </li>

                {#if data.isAdmin}
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                  <span>Audit Team</span>
                </h6>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-dark" id="href-report" href="#">
                        <i class="bi bi-heart-pulse-fill"></i> Wishlist Report
                      </a> 
                </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark" id="href-audit" href="#">
                          <i class="bi bi-grid-3x3"></i> Weekly Audit
                        </a> 
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark" id="href-performance" href="#">
                          <i class="bi bi-grid-3x3"></i> Performance
                      </a>
                  </li>
                </ul>
                {/if}
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Profile</span>
            </h6>
            <ul class="nav flex-column mb-2">
            {#if data.hasDiscordId} 
            <li class="nav-item">
                <a class="nav-link text-dark active" id="discord-auth" href="#">
                  <i class="bi bi-exclamation-lg bg-danger my-1 rounded-pill"></i><i class="bi bi-discord"></i> Connect Discord Account  
                  </a> 
            </li>
            {/if}
              <li class="nav-item">
                <a class="nav-link text-dark" href="/logout">
                  <i class="bi bi-power"></i> Logout
                </a>
              </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between px-3 mt-4 mb-1 bottom-0 bg-secondary">
              <span><i class="bi bi-discord"></i> ID: {data.discordUserId}</span>
            </h6>
        </div>
    </nav>

    <div id="data-container" class="col-md-9 ms-sm-auto col-lg-10 px-md-4"></div>
</div>

<script>
    $( "#href-report" ).click(function( event ) {
      event.preventDefault();
      $.ajax({
        url: "/v2/report",
        headers: {"Content-Type" : "text/html"},
        success: function(html){
          $("#data-container").html(html);
        }
      })
    });

    $( "#href-audit" ).click(function( event ) {
      event.preventDefault();
      $.ajax({
        url: "/v1/audit",
        headers: {"Content-Type" : "text/html"},
        beforeSend: function() {
          $('#data-container').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
        },
        success: function(html){
          $("#data-container").html(html);
        }
      })
    });

    $( "#href-performance" ).click(function( event ) {
      event.preventDefault();
      $.ajax({
        url: "/v1/audit/performance",
        headers: {"Content-Type" : "text/html"},
        beforeSend: function() {
          $('#data-container').html('<div class="container"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...</div>');
        },
        success: function(html){
          $("#data-container").html(html);
        }
      })
    });

    $( "#discord-auth" ).click(function( event ) {
      event.preventDefault();
      $.ajax({
        url: "/discord/login",
        success: function(html){
          $("#data-container").html(html);
        }
      })
    });
  </script>
{/content}
{/include}
