<div class="container-fluid mt-2">
  <div class="row border border-1 rounded p-3">
    <form id="target">
      <div class="row">
          <fieldset id="difficulties">
          <legend><h5>Difficulties to be included in evaluation:</h5></legend>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="difficulty" value="mythic" id="mythic">
            <label class="form-check-label" for="mythic">
              Mythic
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="difficulty" value="heroic" id="heroic">
            <label class="form-check-label" for="heroic">
              Heroic
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="difficulty" value="normal" id="normal">
            <label class="form-check-label" for="normal" disabled>
              Normal
            </label>
          </div>
        </fieldset>
      </div>
      <div class="row my-3">
        <fieldset id="roles">
        <legend><h5>Include roles:</h5></legend>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="role" value="Healer" id="healer">
            <label class="form-check-label" for="healer">
              Healer
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="role" value="Tank" id="tank">
            <label class="form-check-label" for="tank">
              Tank
            </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" name="role" value="Melee" id="melee" checked>
              <label class="form-check-label" for="dps">
                Melee
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" name="role" value="Ranged" id="melee" checked>
              <label class="form-check-label" for="dps">
                Ranged
              </label>
          </div>
        </fieldset>
      </div>
        <button type="submit" class="btn btn-primary my-3" id="report-generate-button">Generate Wishlist Report</button>
      </form>
  </div>
  <div class="row py-3">
    <div id="report-partial" class="pt-0"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $.ajax({
      url: "/v2/report/partial",
      success: function(html){
        $("#report-partial").html(html);
      }
    })
  });

  $( "#target" ).submit(function( event ) {
    event.preventDefault();
    var data = $('form#target').serializeArray()
    var grouped = data.reduce((acc, curr) => {
		  let groupKey = curr.name;
      if(!acc[groupKey]) {
        acc[groupKey] = [];
      }
      acc[groupKey].push(curr.value);
      return acc;
    }, {})
    $.ajax({
      url: "/v2/report/refresh",
      data: $('form#target').serialize(),
      traditional: true,
      beforeSend: function() {
        $('#loader').removeClass("visually-hidden");
        $('#report-generate-button').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
      },
      complete: function(){
        $('#loader').addClass("visually-hidden");
        $('#report-generate-button').html('Generate Wishlist Report');
      },
      success: function(html){
        $("#report-partial").html(html).focus();
      }
    })
  });
</script>