{#include base}
{#title}Una Familia - Roster Report{/title}
{#content}
<div class="container-fluid">
  <div class="row border border-1 rounded p-3">
    <form id="target">
      <h5>Exclude Difficulty from evaluation:</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="mythic" id="mythic">
        <label class="form-check-label" for="mythic">
          Mythic
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="heroic" id="heroic">
        <label class="form-check-label" for="heroic">
          Heroic
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="normal" id="normal">
        <label class="form-check-label" for="normal">
          Normal
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Generate Wishlist Report</button>
    </form>
  </div>
  <div class="row py-3">
    <div class="spinner-grow visually-hidden" role="status" id="loader">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div id="report-partial"></div>
  </div>
</div>

<script>
  $( "#target" ).submit(function( event ) {
    event.preventDefault();
    $.ajax({
      url: "/v2/report/partial",
      data: $('form#target').serialize(),
      beforeSend: function() {
        $('#loader').removeClass("visually-hidden");
      },
      complete: function(){
        $('#loader').hide();
      },
      success: function(html){
        $("#report-partial").html(html).focus();
      }
    })
  });
</script>
{/content}
{/include}
