<div class="container-fluid m-2">
    <div class="row p-3 border border-solid">
        <div class="col p-0">
            <p>Presenting predicted Vault data for current week.</p>
            <button type="button" class="btn btn-primary"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
        </div>
    </div>
    <div class="row my-3">
        <table class="table table-striped text-center cell-border hover" id="audit_table">
            <thead>
              <tr>
                <th class="text-start" rowspan="2">Name</th>
                <th class="text-start" rowspan="2">Realm</th>
                <th class="text-start" rowspan="2">Class</th>
                <th rowspan="2">Average Item Level</th>
                <th rowspan="2">Equipped Item Level</th>
                <th rowspan="2">Dungeons Done</th>
                <th rowspan="2">World Quests Done</th>
                <th rowspan="2">Highest Keystone</th>
                <th colspan="3">Dungeon Vault</th>
                <th colspan="3">Raid Vault Options</th>
                <th colspan="3">PvP Vault Options</th>
              </tr>
              <tr>
                <th>1</th>  
                <th>2</th> 
                <th>3</th> 
                <th>1</th>  
                <th>2</th> 
                <th>3</th> 
                <th>1</th>  
                <th>2</th> 
                <th>3</th> 
              </tr>
            </thead>
            <tbody>
            {#for character in data}
              <tr>
                <td class="text-start">{character.name}</td>
                <td class="text-start">{character.realm}</td>
                <td class="text-start">{character.characterClass}</td>
                <td>{character.averageItemLevel}</td>
                <td>{character.equippedItemLevel}</td>
                <td>{character.dungeonsDone}</td>
                <td>{character.worldQuestsDone}</td>
                <td>{character.highestKeystoneDone}</td>
                <td>{character.dungeonOptionOne}</td>
                <td>{character.dungeonOptionTwo}</td>
                <td>{character.dungeonOptionThree}</td>
                <td>{character.raidOptionOne}</td>
                <td>{character.raidOptionTwo}</td>
                <td>{character.raidOptionThree}</td>
                <td>{character.pvpOptionOne}</td>
                <td>{character.pvpOptionTwo}</td>
                <td>{character.pvpOptionThree}</td>
              </tr>
            {/for}
            </tbody>
          </table>
    </div>
</div>

<script>
  $(document).ready( function () {
    $('#audit_table').DataTable({
      scrollX: true,
      scrollY: true,
      paging: false
    });
} );
</script>