<script type="text/javascript" src="/js/wcl.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div id="title"></div>
<div class="container p-0">
    <div class="row">
        <div class="alert alert-warning" role="alert">
            This page is still under construction! Only DPS rankings are included for Damage Dealing Characters. Duplicated reports may be present!
          </div>
    </div>
    <div class="row">
        <div class="col" id="charts"></div> 
    </div>
</div>