<link rel="stylesheet" href="/css/wcl.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.1.1/dist/chart.umd.min.js"></script>
<div class="container p-0">
    <div class="row p-1">
        <div class="alert alert-warning" role="alert">
            This page is still under construction!
          </div>
    </div>
    <div class="row" id="title"></div>
    <div class="row" id="performance-form">
        <div class="container d-flex align-items-start" id="metadata-container"></div>
    </div>
    <div class="row my-5">
        <div class="col" id="charts">
            <div class="container mx-10 visually-hidden" id="loader">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 4rem; height: 4rem;"></span>
            </div>
        </div> 
    </div>
</div>
<script type="text/javascript" src="/js/wcl.js"></script>