<div class="container">
    <h3>Upcoming Events:</h3>
    <div class="list-group">
        {#for event in events}
            <div class="list-group-item card" style="width: 100%">
                <img src="{event.backgroundUrl}" class="card-img-top" alt="{event.title}">
                <h5 class="card-title">{event.title}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{event.date}</h6>
                <p class="card-text">{event.activity}</p>
            </div>
        {/for}
    </div>
</div>