<style>
    html,
    body {
        height: 100%;
        background-image: url("https://cdna.artstation.com/p/assets/images/images/012/060/904/large/fain-xel-whtiemane-nonwter.jpg");
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        min-height: 200px;
        min-width: 150px;
        padding: 15px;
        margin: auto;
        border: lightgray solid 1px;
        background-color: #dedede;
        margin-top: 10rem!important;
    }

    .una-logo {
        border-radius: 50%;
    }
</style>

{#include base}
{#title}Una Familia - Login{/title}
{#body}
<main class="text-center form-signin bg-opacity-75">
    <form action="{login.loginUrl}">
        <img class="una-logo"
             src="https://render.worldofwarcraft.com/eu/guild/crest/98/emblem-98-dfa55a-232323.jpg"
             alt
             width="72"
             height="72">
        <h1 class="h2 mb-3 fw-bold">Una Familia</h1>
        <h2 class="h4 mb-3 fw-normal">Sign in</h2>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
            Login with Battle.net
        </button>
    </form>
</main>
{/body}
{/include}