<div class="col-6">
    {#if orders != null && !orders.isEmpty}
        <div class="list-group">
        {#for order in orders}
            <div class="list-group-item p-3">
                <h4>Order: {order.id} from {order.date}</h4>
                <div class="list-group">
                    {#for item in order.orderItems}
                        <div class="list-group-item p3">
                            {item.quantity}x <a href="https://www.wowhead.com/item={item.id}" class="q3 col">[{item.name}]</a>
                        </div>
                    {/for}
                </div>
            </div>
        {/for}
        </div>
        {#else}
        No orders!
    {/if}
</div>
