<style>
    span + span {
        display: none;
    }

    .order-qty-text {
        color: white;
    }

    .order-button {
        background-color: gray;
        color: white;
        border: 1px solid #fff;
    }

    .date-text {
        font-size: small;
        color: white;
    }

    h6 {
        font-size: x-small;
    }
</style>


<div class="container p-0">
    {#if orders != null && !orders.isEmpty}
        <ul class="list-group">
        {#for order in orders}
            <li class="d-flex list-group-item p-1 justify-content-between mb-2" style="background-color: gray">

                <ul class="d-flex list-group flex-row align-items-center">
                {#for item in order.orderItems}

                    <li class="list-group-item p-0" style="background-color: gray">
                        <a data-wh-icon-size="medium" href="https://www.wowhead.com/item={item.id}"></a>
                        <h6 class="order-qty-text">x{item.quantity}</h6>
                    </li>
                {/for}
                <p class="date-text mx-1">{order.date} (#{order.id})</p>

                </ul>
            <button type="button" class="btn btn-warning order-button ml-auto my-auto" data-bs-toggle="modal" data-bs-target="">
                Order Again
            </button>
            </li>
        {/for}
        </ul>
    {#else}
    <h3 class="row">No orders! You can order new packages either here or buy using /raidpackage command in Discord.</h3>
    {/if}
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#newOrderModal">
        Order Package
    </button>
    <div class="modal fade" id="newOrderModal" tabindex="-1" aria-labelledby="newOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newOrderModalLabel">New Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        {#for item in items}
                        <div class="input-group-text container-fluid">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox">
                            <h3><a href="https://www.wowhead.com/item={item.id}" class="q3">[{item.name}]</a></h3>
                        </div>
                        <input type="text" class="form-control" aria-label="Quantity">
                        {/for}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onsubmit="submitOrder()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function submitOrder(itemId, quantity) {
        console.log("order");
    }
</script>