<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
</head>
<body>
<div>Login was successful {name}! Return to discord.</div>

<div>
    <table>
        {#for character in characters}
        <tr>
            <td>{character.id}</td>
            <td>{character.name}</td>
            <td>{character.level}</td>
            <td>{character.playableClass.name}</td>
            <td>{character.faction.name}</td>
            <td>
                <form action="/player/{userid}/{character.id}" method="post">
                    <button type="submit">Make Main</button>
                </form>
            <td>
        </tr>
        {/for}
    </table>
</div>
</body>
</html>