{#include base}
{#scripts}
<script>const whTooltips = { colorLinks: true, iconizeLinks: true, renameLinks: true };</script>
<script src="https://wow.zamimg.com/widgets/power.js">
    sessionStorage.setItem("jwt", {jwt});
    sessionStorage.setItem("authorization", {authCode});
</script>
{/scripts}


    {#title}Una Familia - Welcome {user.name}! {/title}

    {#navbar}
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="mx-2">
                    <img src="https://render.worldofwarcraft.com/shadow/avatar/1-1.jpg" width="40" height="40"
                         class="rounded-circle" alt="pic">
                </div>
                <div class="text-decoration-none p-2 text-nowrap">
                    Welcome {user.name}!
                </div>
            </div>
        </div>
    {/navbar}

    {#alert}
        {#if !user.isDiscordUser}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Zug Zug! Connect your Discord account with Una Familia Account! In Discord type /link and follow the
                link presented.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {/if}
    {/alert}


    {#content}
        <style>
            .shadowed {
                box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
                background-color: rgba(218, 223, 225,0.9);
                border-radius: 10px;
            }


            #calendar {
                background-color: gray;
                max-width: 150px;
                height: 150px;
                border-radius: 5%;
            }

            #new-event-btn {
                background-color: gray;
                max-width: 150px;
                width: 92%;
                color: white;
            }

            body {
                background-image: url("https://cdna.artstation.com/p/assets/images/images/012/060/904/large/fain-xel-whtiemane-nonwter.jpg");
            }

            .list-group-item {
                background-color: grey;
            }

        </style>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="d-flex col-2 shadowed px-1 my-2 flex-column justify-content-start" id="calendar-section">
                <div class="col-12 mx-2 mt-4 mb-2" id="calendar">

                </div>
                <div class="col-12 mx-2" id="new-event">
                    <button id="new-event-btn" type="button" class="btn btn-default">New Event</button>
                </div>
            </div>
            <div class="col-8 my-2 px-2" id="dashboard-section">
                <div class="d-flex col-12 shadowed mb-2  flex-column p-2" id="events-section">
                    <h4 class="mx-2" id="order-section-title">Upcoming Events</h4>
                    <div class="d-flex flex-row">
                        {#for event in events}
                            <div class="list-group shadowed col-3 mx-2 mb-2">
                                {#include events}{/include}
                            </div>
                        {/for}
                    </div>
                </div>
                <div class="d-flex col-12 flex-column shadowed p-2"  id="order-section">
                    <h4 id="order-section-title">Your Recent Orders</h4>
                    <div class="" style="flex-direction: column-reverse;" id="order-list">
                        {#include orders}{/include}
                    </div>
                </div>
            </div>
            <div class="d-flex col-2 flex-column mr-2 shadowed p-2 my-2" id="character-panel-section">
                {#include partials/userCard}{/include}
            </div>
        </div>
    </div>
    {/content}

    {!{#content}!}
    {!<div class="container-fluid">!}
        {!<div class="row">!}
            {!<div class="col-3 container">!}
                {!<div class="row py-5 text-center container">!}
                    {!{#include orders}{/include}!}
                {!</div>!}
            {!</div>!}
            {!<div class="col-3">!}
                {!<div class="row py-5 text-center container">!}
                    {!{#include events}{/include}!}
                {!</div>!}
            {!</div>!}
            {!<div class="col">!}
                {!{#if user.hasAMainCharacter}!}
                    {!{#include partials/userCard}{/include}!}
                {!{/if}!}
            {!</div>!}
        {!</div>!}
{!!}
        {!{#if user.isARaider && !user.hasAMainCharacter}!}
        {!<div class="row">!}
            {!<div class="py-lg-5">!}
                {!<h3 class="fw-light">{user.name}, choose your main character</h3>!}
            {!</div>!}
        {!</div>!}
        {!<div class="row-3 g-3 container-fluid d-flex flex-wrap">!}
            {!{#for character in user.characters}!}
                {!<div class="card shadow-sm bg-secondary text-white" id="{character.id}" style="width: 18rem;">!}
                {!<script>!}
                    {!fetch('https://raider.io/api/v1/characters/profile?region=eu&realm={character.realm}&name={character.name}&fields=gear%2C%20mythic_plus_scores_by_season')!}
                        {!.then(function (response) {!}
                            {!return response.json()!}
                        {!})!}
                        {!.then(function (data) {!}
                            {!const card = document.getElementById({character.id});!}
                            {!const cardBody = card.querySelector('.card-body');!}
                            {!const raiderProfile = {!}
                                {!image: data['thumbnail_url'],!}
                                {!item_level: data['gear']?.['item_level_equipped'] || "Undefined"!}
                            {!};!}
                            {!<!-- Thumbnail -->!}
                            {!let image = document.createElement("img");!}
                            {!image.src = raiderProfile.image || 'https://render.worldofwarcraft.com/shadow/avatar/1-1.jpg';!}
                            {!image.alt = "{character.name} render";!}
                            {!image.class = "card-img-top";!}
                            {!image.style.borderRadius = "50%";!}
                            {!image.style.maxHeight = "75px";!}
                            {!image.style.maxWidth = "75px";!}
                            {!card.insertBefore(image, cardBody);!}
{!!}
                            {!<!-- Items -->!}
                            {!const itemSlots_left = ["head", "shoulder", "back", "chest", "feet", "wrist", "hands", "neck"];!}
                            {!const itemSlots_right = ["mainhand", "waist", "legs", "finger1", "finger2", "trinket1", "trinket2"];!}
                            {!let leftItems = document.getElementById("{character.id}-left");!}
                            {!let rightItems = document.getElementById("{character.id}-right");!}
{!!}
                            {!for (const itemSlot of itemSlots_left) {!}
                                {!let item = data['gear']?.['items'][itemSlot];!}
                                {!if (item) {!}
                                    {!let itemElement = document.createElement("div");!}
                                    {!itemElement.innerHTML = '<div class="col"><a class href="//wowhead.com/item=' + item['item_id'] + '" rel="bonus=' + item['bonuses'].join(':') + '&ilvl=' + item['item_level'] + '"><img alt src="https://cdnassets.raider.io/images/wow/icons/large/' + item['icon'] + '.jpg"></a>' + item['item_level'] + '</div>';!}
                                    {!leftItems.appendChild(itemElement);!}
                                {!}!}
                            {!}!}
{!!}
                            {!for (const itemSlot of itemSlots_right) {!}
                                {!let item = data['gear']?.['items'][itemSlot];!}
                                {!if (item) {!}
                                    {!let itemElement = document.createElement("div");!}
                                    {!itemElement.innerHTML = '<div class="col"><a class href="//wowhead.com/item=' + item['item_id'] + '" rel="bonus=' + item['bonuses'].join(':') + '&ilvl=' + item['item_level'] + '"><img alt src="https://cdnassets.raider.io/images/wow/icons/large/' + item['icon'] + '.jpg"></a>' + item['item_level'] + '</div>';!}
                                    {!rightItems.appendChild(itemElement);!}
                                {!}!}
                            {!}!}
{!!}
                        {!}).catch(console.error);!}
                {!</script>!}
                {!<div class="card-body">!}
                {!<div class="card-header">{character.name}</div>!}
                {!<h5 class="card-title">Level {character.level} {character.characterClassName}</h5>!}
                {!<div class="container">!}
                    {!<div class="row" id="{character.id}-left"></div>!}
                    {!<div class="row" id="{character.id}-right"></div>!}
                {!</div>!}
                {!<a href="/player/{user.userId}/{character.id}" methods="POST" class="btn btn-primary">Make main</a>!}
                {!</div>!}
                {!</div>!}
            {!{/for}!}
            {!</div>!}
            {!{/if}!}
        {!</div>!}
    {!{/content}!}
{/include}